canvas {
  display: block;
  margin: 20px auto;
  /* animation: rotate 60s infinite; */
}

/* @keyframes rotate {
  50% {
    transform: rotate(36000deg);
  }
} */

input {
  margin: 10px;
  padding: 5px;
}

button {
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

#spinButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.container {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
  padding: 1rem;
  border: 1px solid #333;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.action-button {
  width: 50px;
  height: 25px;
}
